.title-characters {
    margin: auto;
}

.container-card {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 380px;
    margin: 20px auto;
}

.card-characters {
    position: relative;
    width: 380px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    align-items: center;
    justify-content:center;
}

.character-name {
    position: absolute;
    top: 57px;
    left: 90px;
    font-size: 22px;
}

.character-age {
    position: absolute;
    top: 37px;
    left: 315px;
    font-size: 20px;
}

.character-power {
    position: absolute;
    top: 268px;
}

.character-fight-status {
    position: relative;
    display: flex;
    top: 195px;
    gap: 82px;
    margin: 0;
}
.fights-label {
    position: relative;
    display: flex;
    top: 181px;
    left: 5px;
    gap: 72px;
    font-size: 12px;
    margin: 0;
}

.age-label {
    position: absolute;
    top: 60px;
    left: 315px;
    font-size: 8px;
}

.character-bio {
    position: absolute;
    top: 295px;
    left: 40px;
    font-size: 15px;
    font-weight: bold;
    max-width: 300px;
}

:root {
    --bg-color: #100E0E;
    --border-color: #100E0E;
    --border-width: 2px;
    --sqrt3: 1.7321; /* Square-root of 3*/
    --hex-height: 3rem;
    --hex-min-width: calc(var(--hex-height) * var(--sqrt3) / 2);
    --hex-distance: calc(var(--hex-height) / (2 * var(--sqrt3))); /* d = h / (2*tan(60°)); with h = the height of the button*/
    --hover-color: var(--border-color);
    --hover-color: #100E0E;
    --hover-text: var(--border-color);
    --hover-text: var(--bg-color);
}

.btn-hex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    width: 350px;
    min-width: var(--hex-min-width);
    height: var(--hex-height);
    margin: auto;
    padding: .5rem calc(var(--hex-distance) * 1.5);
    text-align: center;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    line-height: 1rem;
    vertical-align: middle;
    color: var(--border-color);
    cursor: pointer;
    background-color: #FFF500;
    clip-path: polygon( var(--hex-distance) 0, calc(100% - var(--hex-distance)) 0, 100% 50%, calc(100% - var(--hex-distance)) 100%, var(--hex-distance) 100%, 0 50% );
}

    .btn-hex::before {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #FFF500;
        transition: .25s all .02s ease-in-out;
        clip-path: polygon( 0 50%, var(--border-width) 50%, calc(var(--hex-distance) + var(--border-width/2)) var(--border-width), calc(100% - var(--hex-distance) - var(--border-width/2)) var(--border-width), calc(100% - var(--border-width)) 50%, calc(100% - var(--hex-distance) - var(--border-width/2)), calc(100% - var(--border-width)), calc(var(--hex-distance) + var(--border-width/2)), calc(100% - var(--border-width)), var(--border-width) 50%, 0 50%, 0 100%, 100% 100%, 100% 50%, 100% 0, 0 0 );
    }

    .btn-hex::after {
        box-sizing: border-box;
        transition: .25s all .02s ease-in-out;
    }

    .btn-hex:hover {
        color: var(--bg-color);
        background-color: #FFF500;
    }