@{
    ViewData["Title"] = "Sobre";
}

<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />

<div class="d-flex flex-column justify-content-center h-100 w-100 gap-2">
    <img class="title-about" src="../Images/Sobre.svg" />

    <img class="explanation" src="../Images/Explicacao do projeto.svg" />

    <a asp-controller="Home" asp-action="Championship" class="btn-hex mb-5">Ir para o campeonato</a>

</div>
