@{
    ViewData["Title"] = "Regras";
}
<link rel="stylesheet" href="~/css/Rules.css" asp-append-version="true" />

<div class="d-flex flex-column h-100 w-100 gap-5">
    <div class="d-flex flex-column gap-1">
        <div class="d-flex align-items-center justify-content-center w-100">
            <img class="title-rules" src="../Images/Regras.svg" />
        </div>

        <img class="gradient-rect" src="../Images/Retangulo Gradiente.svg" />
    </div>

    <img class="cards" src="../Images/Carta de regras.svg" />

    <a asp-controller="Home" asp-action="Characters" class="btn-hex mb-5">Conhecer os personagens</a>


</div>
